/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import Helmet from 'react-helmet';

export class {{ properCase name }} extends React.PureComponent {
  render() {
    return (
      <div>
        <Helmet title="{{properCase name}}" meta={{curly true}}[ {{curly true}} name: 'description', content: 'Description of {{properCase name}}' {{curly}}]{{curly}}/>

      //Remove this line and you can start writing your code here.
      </div>
    );
  }
}
